<html>
<head>
<title>Resume Template</title>
<link rel="stylesheet" href="bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet">
<style>
.container
{
  font-family: 'Poor Story', cursive;
  padding-left: 100px;
  padding-right: 100px;
  text-transform:uppercase;
}
#Heading
{
  margin-top:35px;
  padding-top:10px;
}
p
{
  font-size: 13px;
  text-align: justify;
}
#leftside
{
  background-color:#ffb3cc;
}
#rightside
{
  background-color:#80ffff;
}
.row
{
  text-align:justify;
}
#Heading
{
  background-color:#94b8b8;
}
</style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12" id="Heading">
      <h1 class="text-center">I am a hero</h1>
    </div>
    </div>
  <div class="row">
  <div class="col-6" id="leftside">
    <!--Left Column-->
    <h3> profile</h3>
    <p>hjdhbvadhljfahfkhkkhfhafhfafjkafbfbflbffhlbhlsbvld</p>
    <p>hjdhbvadhljfahfkhkkhfhafhfafjkafbfbflbffhlbhlsbvld</p>
    <p>hjdhbvadhljfahfkhkkhfhafhfafjkafbfbflbffhlbhlsbvld</p>
    <h3>contact</h3>
    <p> 877xcccccccccccccccccccccc</p>
    <p>jkdnjcjkd@gmail.com</p>
    <h3>INTERESTS</h3>
    <p>dfdsffsfsff</p>
    <p>nfvjfnvjnfjvnj</p>
    <p>hsienkdkdo</p>
    <h3>skills</h3>
    <p>jrridndjd</p>
    <p>uqhurj</p>
  </div>
  <div class="col-6" id="rightside">
    <!-- Right Column -->
    <h3>Education</h3>
    <p>hjdhbvadhljfahfkhkkhfhafhfafjkafbfbflbffhlbhlsbvld</p>
    <p>hjdhbvadhljfahfkhkkhfhafhfafjkafbfbflbffhlbhlsbvld</p>
    <p>hjdhbvadhljfahfkhkkhfhafhfafjkafbfbflbffhlbhlsbvld</p>
    <h3>Work expirence</h3>
    <p>nvnnkvrnfvikfmvi</p>
    <p>nkvrfivifvirfvjifrvi</p>
    <h3>References</h3>
    <p>dfdsffsfsff</p>
    <p>nfvjfnvjnfjvnj</p>
    <p>hsienkdkdo</p>
  </div>
</div>
</div>
</body>
</html>
