{% extends 'base.html' %}

{% load static %}

{% block style %}
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
{% endblock %}
{% block inlinestyle %}
	<style>
	#userphoto
	{
		border-radius: 50%;
		height: 125px;
		width: 125px;
	}
	#namephoto
	{
		text-align: center;
		background-color: #e0e0d1;
		text-transform: uppercase;
	}
	#con
	{
		padding-right: 170px;
		padding-left: 170px;
		padding-top: 15px;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 15;
	}
	#leftside
	{
		padding-left: 25px;
		padding-bottom: 40px;
		background-color: #f5f5f0;
		letter-spacing: 1px;
	}
	#rightside
	{
		padding-right: 25px;
		padding-bottom: 40px;
		background-color: #c2c2a3;
		padding-left: 25px;
		letter-spacing: 1px;
	}
	.addressimage
	{
		float: left;
	    margin-right: 20px;
	}
	h5
	{
		text-transform: uppercase;
		font-family: 'Lato', sans-serif;
		font-weight: bold;
	}
	p
	{
		line-height: 11px;
	}
	</style>
{% endblock %}
{% block content %}
	{% include 'partials/_selectbutton.html' %}
	{% include 'partials/_nextprev.html' with next=next prev=prev %}
	<form action="{% url 'accounts:dashboard' %}" id="select" method="POST">
		{% csrf_token %}
		<input type="hidden" name="template_id" value="2">
	</form>
	<div class="container" id="con">
		<div class="row" id="np">
			<div class="col-12" id="namephoto">
				<img  id="userphoto" src="{% static 'img/no-image.png' %}" style="padding-top: 10px"><br>
				<h2 id="username" style="font-weight: bold;">User name</h2>
				<h4 style="font-weight: bold;">Designation</h4>
			</div>
		</div>
		<div class="row" id="bottom">
			<div class="col-6" id="leftside">
				<h5 style="margin-top: 8px">Personal profile</h5>
				<p>fkdjdidndkdndldkww</p>
				<p>fkdjdidndkdndldkww</p>
				<p>fkdjdidndkdndldkww</p>
				<p>fkdjdidndkdndldkww</p>
				<p>fkdjdidndkdndldkww</p>
				<img src="{% static 'img/line.jpg' %}" width="250" style="margin-bottom: 10px">
				<h5>Contact</h5>
				<p><img src="{% static 'img/arrowicon.jpg' %}" height="20" width="20" class="addressimage">hdihdjudgsuys</p>
				<p><img src="{% static 'img/mailicon.jpg' %}" class="addressimage" height="20" width="20"></img>nksjd@gmail.com</p>
				<p><img src="{% static 'img/phoneicon.jpg' %}" class="addressimage" height="20" width="20"></img>5272682yu27</p>
				<img src="{% static 'img/line.jpg' %}" width="250" style="margin-bottom: 10px">
				<h5>Education</h5>
				<p>jskihjwbw</p>
				<p>kdbjdhjue</p>
				<p>nfkfnjf</p>
			</div>
			<div class="col-6" id="rightside">
				<h5 style="margin-top: 8px">Skills</h5>
				<p>djjdfdjd</p>
				<p>mkfrnkdff</p>
				<p>klmkskeedf</p>
				<img src="{% static 'img/line.jpg' %}" width="250" style="margin-bottom: 10px">
				<h5>work expirence</h5>
				<p style="font-size: 18px;">post,company_name</p>
				<p>ksjdkdbfjkdfjd</p>
				<p>ksjdkdbfjkdfjd</p>
				<p>ksjdkdbfjkdfjd</p>
				<p style="font-size: 18px;">post,company_name</p>
				<p>ksjdkdbfjkdfjd</p>
				<p>ksjdkdbfjkdfjd</p>
				<p>ksjdkdbfjkdfjd</p>
			</div>
		</div>
	</div>
{% endblock %}
